@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');


/* Table of content

1. General style

2. INDEX PAGE
    2.1 Navbar header
    2.2 Hero section
    2.3 News highlight section
    2.4 About section
    2.5 Contact footer

3.  SIGNUP PAGE
    3.1 form section
        3.1.1 Privacy policy

4. NEWS PAGE
    4.1 News general
    4.2 Education section
    4.3 Sports section
    4.4 Entertainment section

5.  MEDIA QUERIES @ 950 pixels
    5.1 General style
    5.2 INDEX PAGE
        5.2.1 Navbar header
        5.2.2 Hero section
        5.2.3 News highlight section
        5.2.4 contact footer 
    5.3 FORM PAGE
        5.3.1 Form section

6.  MEDIA QUERIES @ 510 pixels
    6.1 INDEX PAGE
        6.1.1 Navbar header
    6.2 FORM PAGE
        6.2.1 Form section 

*/


/*  ***********
    General style
    *********** */

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --header1: calc(2.8rem + 1vw);
    --header2: calc(2.3rem + 1vw);
    --text1: calc(1rem + 1vw);
    --text2: calc(1.2rem + 1vw);
}

h1 {
    font-size: var(--header1);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.8rem;
}

h2 {
    font-size: var(--header2);
    text-transform: uppercase;
}

h3 {
    font-size: var(--header2);
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

a {
    font-size: var(--text2);
    text-decoration: none;
    letter-spacing: 0.2rem;
    font-weight: 800;
}

a:hover {
    color: #fffaf6;
}

.active {
    color: #fffaf6;
}

li {
    list-style: none;
    text-transform: capitalize;
}

body {
    font-size: calc(var(--text1)*1.2);
    background-color: #fffaf6;
    font-family: 'Roboto', sans-serif;
    color: #022138;
    width: 100%;
    max-width: 100vw;
}

h1,
h2,
a {
    color: #f02c2c;
}

/*  ***********
    INDEX PAGE
    *********** */

/*  ***********
    Navbar header
    *********** */

header {
    background-color: rgb(2, 32, 54, 0.9);
    min-height: 10rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: inherit;
    max-width: inherit;
}

#nav-bar {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
}


#nav-bar>a {
    flex: 1 1 40rem;
}

#nav-bar ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    margin: auto;
}

/*  ***********
    Hero section
    *********** */

#hero {
    padding-top: 12rem;
    min-height: 100%;
}

.hero-body {
    display: flex;
}

.hero-img {
    flex: 1 1 50%;
    width: 50vw;
    height: 100%;
    object-fit: contain;
    background-color: #fffaf6;
}

.hero-text {
    flex: 1 1 50%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: var(--header2);
    font-weight: 600;
}

.hero-text>h3 {
    font-family: 'Oswald', sans-serif;
    color: #022138;
}

/*  **********************
    News highlight section
    ********************** */

#news-head {
    min-height: 60vh;
}

#news-head>h2 {
    background-color: rgb(2, 32, 54, 0.9);
    text-align: center;
    padding: 2rem;
}

.news-highlight {
    width: 90%;
    margin: 10rem auto 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    border: 1px solid #f02c2c;
    background-color: rgb(2, 32, 54, 0.9);
    border-radius: 10px;
    min-height: 40vh;
    flex: 1 1 30rem;
    color: #fffaf6;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.card a{
    font-size: calc(var(--text1)/1.1);
}

/*  *************
    About section
    *********** */

#about {
    padding-top: 12rem;
}

.about-wrap {
    min-height: 50vh;
    display: flex;
    width: 95%;
    margin: auto;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.about-wrap h3 {
    padding-bottom: 1rem;
}

.creators {
    width: 100%;
    flex: 1 1 40rem;
}

.design {
    margin-bottom: 1rem;
}

.content {
    margin-top: 1rem;
}

.text {
    width: 100%;
    flex: 2 1 60rem;
}

#about>h2 {
    background-color: rgb(2, 32, 54, 0.9);
    text-align: center;
    padding: 2rem;
}

#about>p {
    text-align: center;
    justify-content: center;
    padding: 4rem;
    font-weight: 600;
}

#about strong {
    color: #f02c2c;
}


/*  **************
    Contact footer
    *********** */

footer {
    background-color: #022138;
    min-height: 15vh;
    width: 100%;
    font-size: calc(var(--text1)/1.1);
}
footer h3{
    font-size: calc(var(--text1)/0.9);
}
footer iframe {
    width: inherit;
}

#contact {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#contact>h3 {
    color: #fffaf6;
    text-transform: uppercase;
    margin: auto 0;
}

hr {
    border: 1px solid #fffaf6;
}

.contact-remote,
.location,
.opening {
    color: #fffaf6;
}

:is(.contact-remote, .location, .opening) h4 {
    border-bottom: 1px solid #fffaf6;
}

/*  ***********
    SIGNUP PAGE
    *********** */

/*  **************
    form section
    *********** */

#form {
    min-height: 150vh;
    background-image: linear-gradient(rgb(255, 250, 246, 0.5), transparent), url(../images/listen\(compressed\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #022138;
}

.form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5rem 0;
    padding: 1rem;
    font-size: calc(var(--text1)/1.1);
}

.form-data h2 {
    font-family: 'Oswald', sans-serif;
    color: #022138;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form span {
    color: #f02c2c;
}

.main-form,
.name,
.contact {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#fname,
#lname,
#phone,
#email,
textarea {
    margin: 1rem 0;
    border: 1px solid #022138;
    background-color: transparent;
    padding: 0.5rem;
    color: #022138;
}

.frequency {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

input[type="submit"] {
    font-size: var(--text1);
    padding: 1rem 0;
    background-color: #f02c2c;
    color: #fffaf6;
}

input[type="submit"]:hover {
    background-color: #022138;
}


/* Privacy policy */

.privacy-policy {
    width: 90%;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    text-align: center;
    font-size: calc(var(--text1)/0.9);
}

.privacy-policy h2 {
    color: #022138;
    font-size: calc(var(--text1)/0.9);
}

/*  ***********
    NEWS PAGE
    *********** */

/*  **************
    News general
    *********** */

.n-head {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.n-body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.body {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    line-height: 4rem;
}

.n-head h2 {
    font-family: 'Oswald', sans-serif;
    color: #022138;
    font-size: var(--header1);
    letter-spacing: 1rem;
}

.story {
    padding: 1rem 0;
}

.story h3 {
    padding-bottom: 0.5rem;
}

/*  **************
    Education section
    *********** */

#education {
    min-height: 100vh;
    padding-top: 12rem;
}

.education-head {
    background-image: linear-gradient(rgb(240, 44, 44, 0.5), transparent), url(../images/education\(compressed\).jpg);
}



#education a:hover {
    color: #022138;
}

/*  **************
    Sports section
    *********** */

#sports,
#entertainment {
    min-height: 100vh;
}

.sports-head {
    background-image: linear-gradient(rgb(240, 44, 44, 0.5), transparent), url(../images/sports\(compressed\).jpg);
}

/*  **************
    Entertainment section
    *********** */

.entertainment-head {
    background-image: linear-gradient(rgb(240, 44, 44, 0.5), transparent), url(../images/stage\(compressed\).jpeg);
}


/*  ***********
    MEDIA QUERIES
    *********** */

/* for medium screens from 950 pixels wide and below */

@media screen and (max-width:950px) {

    /*  ***********
    General syle
    *********** */

    body {
        font-size: calc(var(--text1)*1.5);
    }

    /*  ***********
    INDEX PAGE
    *********** */

    /* Navbar header */

    #nav-bar {
        flex-wrap: wrap;
        text-align: center;
    }

    #nav-bar>a {
        flex: 1 1 20rem;
    }

    #nav-bar ul {
        flex: 2 1 60rem;
    }

    /* Hero section */

    .hero-body {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .hero-img,
    .hero-text {
        width: 100vw;
    }

    .hero-text {
        padding: 10rem 0;
    }

    /* News highlight section */
    .card {
        margin: 5rem;
    }

    /* Contact footer */
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #contact a {
        font-size: calc(var(--text2)*1.5);
        padding: 2rem;
    }

    .social-networks ul {
        display: flex;
    }

    hr {
        border: none;
    }

    .contact-address,
    .location,
    .contact-remote,
    .social-networks {
        padding: 1rem 0;
    }

    /*  ***********
    FORM PAGE
    *********** */

    /* form section */
    .form-data {
        width: 50rem;
    }

    .main-form {
        width: 45rem;
    }
}

/* for medium screens from 510 pixels wide and below */

@media screen and (max-width: 510px) {

    /*  ***********
    INDEX PAGE
    *********** */

    /* Navbar header */

    #nav-bar {
        display: flex;
        justify-content: center;
    }

    #nav-bar a {
        font-size: calc(var(--text2)*1.1);
        padding: 0 0.3rem;
    }

    /*  ***********
    FORM PAGE
    *********** */

    /* form section */

    .form-data {
        width: 32rem;
    }

    .main-form {
        width: 28rem;
    }
}